header {
  width: 100%;
  background: black;
}

.head {
  display: flex;
  width: 95%;
  margin: 0 auto;
  background: black;
  color: white;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
}

.head1 {
  display: flex;

  gap: 20px;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu-item li {
  white-space: nowrap;
}

.menu-item {
  padding: 0;
  margin: 0;
}

ul li:hover,
ul select:hover {
  color: red;
}

select#tuychon {
  color: white;
  border: none;
  font-size: 16px;
  padding: 0;
}
select#tuychon option {
  background: black; /* Đảm bảo các tùy chọn trong dropdown có nền đen */
  color: white;
}

.congcu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.congcu i {
  cursor: pointer;
}
.congcu i:hover {
  color: red;
}

.node {
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.node:hover {
  background-color: #333;
}
.node2 {
  background: red;
}
.node2:hover {
  background: rgb(203, 13, 13);
}
