* {
  box-sizing: border-box;
}
:root {
  --primary-color: #07a5fe;
}
body {
  font-family: "Roboto";
  background: #f5f4fa;
}
.main__content {
  margin: 0 auto;
  width: 70vw;
}

a {
  text-decoration: none;
  color: black;
}
button {
  border: 0;
  outline: none;
}
/* phần navigation */
.navigation {
  position: fixed;
  inset: 0;
  height: 100px;
  background-color: #f5f4fa;
  z-index: 10;
  transition: all 0.4s ease;
}

.navigation__main img {
  width: 100px;
  height: 100px;
}
.main__content .navigation__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__main .nav__link {
  display: flex;
  align-items: center;
}
.nav__link__a a {
  font-size: 16px;
  padding: 0 20px;
  transition: all 0.4s ease;
  /* transition: color 0.2s ease; */
}
.nav__link__a a:hover,
.link__active {
  color: var(--primary-color);
}
.nav__link__button button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  transition: all 0.3s ease;
}
.nav__link__button button:active {
  transform: scale(0.98);
}
.nav__link__button button:hover {
  filter: brightness(110%);
}
.nav__link__button .register {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid #80808082;
}
.navigation.scrolled {
  height: 90px;
  background-color: #2c2c2c;
}




/* phần footer */

footer {
  background-color: #2c2c2c;
  color: white;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.footer-section {
  flex: 1 1 250px;
  margin: 20px;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #07a5fe;
}

.footer-section p,
.footer-section ul li {
  font-size: 14px;
  line-height: 1.8;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #07a5fe;
  text-decoration: underline;
}

.footer-section a i {
  font-size: 20px;
  margin-right: 10px;
  color: #ffffff;
  transition: color 0.3s ease;
}

.footer-section a i:hover {
  color: #07a5fe;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 20px;
  margin-top: 20px;
  font-size: 13px;
  color: #aaa;
}
