* {
  font-family: sans-serif;
}
.modau {
  background: black;
  width: 100%;
}
header {
  width: 100%;
  background: black;
  position: fixed;
}
.node a {
  text-decoration: none;
  color: #fff;
}
.head {
  display: flex;
  width: 100%;
  margin: 0 auto;
  background: black;
  color: white;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.head1 {
  display: flex;

  gap: 20px;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu-item li {
  white-space: nowrap;
}

.menu-item {
  padding: 0;
  margin: 0;
}

ul li:hover,
ul select:hover {
  color: red;
}

select#tuychon {
  color: white;
  border: none;
  font-size: 16px;
  padding: 0;
}

.congcu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.congcu i {
  cursor: pointer;
}
.congcu i:hover {
  color: red;
}

.node {
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.node:hover {
  background-color: #333;
}
.node2 {
  background: red;
}
.node2:hover {
  background: rgb(203, 13, 13);
}

.danhsachtuychon {
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
}
.luachon {
  padding: 12px 6px;
  background: rgb(26, 25, 25);
  margin-right: 5px;
}
.modau {
  display: flex;
}
span {
  color: rgb(180, 169, 169);
}
.luachon span :hover {
  color: red;
}
.chucnangkhac {
  background: white;
}
.timkiem {
  padding: 12px 6px;
}
.cacchucnangkhac {
  margin-left: 80px;
  display: flex;
}
.thongbao {
  margin-top: 12px;
}
.muagoi {
  margin-top: 10px;
  width: 67px;
  height: 25px;
  margin-left: 7px;
  background: red;
  border-radius: 5px;
}
.dangnhap {
  margin-top: 12px;
  margin-left: 5px;
}
.dangnhap a :hover {
  color: red;
}
.muagoi :hover {
  background: orange;
}

.anhfpt {
  border-radius: 50px;
}
.phanthan {
  margin-top: 10px;
  display: block;
}
html {
  background: black;
}
.tongthe {
  width: 1200px;
  margin: 0 auto;
}

.cacchuongtrinh {
  margin-top: 10px;
}
img {
  border-radius: 8px;
}
.tieudenoidung {
  font-size: 24.5px;
}
.siu {
  margin-top: 50px;
}
.tieudephim {
  font-size: 16px;
}
.phimcancay {
  display: block;
  gap: 12px;
  margin-right: 15px;
}
.cacphimcancay {
  display: flex;
  width: 1199px;
  height: 300px;
  overflow: scroll;
}
.phimcancay a :hover {
  opacity: 0.5;
}
.moiramat {
  display: flex;
  gap: 15px;
  width: 1199px;
  height: 200px;
  overflow: scroll;
}
.danhmuc {
  display: flex;
  width: 1199px;
  overflow: scroll;
  height: 162px;
  gap: 15px;
}

span {
  color: white;
}
.phanket {
  display: block;
}
.phanket1 {
  display: flex;
  gap: 150px;
}
.play {
  display: block;
}
.pt a :hover {
  color: red;
}
footer {
  margin-top: 15px;
}
.coment {
  color: white;
}
#container-poster {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#poster {
  width: 100%;
  display: block;
}

#content_poster {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px 30px 150px 20px;
  box-sizing: border-box;
}

.film-content {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.film-title {
  font-size: 28px;
  margin: 0;
  color: #fff;
  font-size: 50px;
}

.film-details {
  margin: 10px 0;
}

.film-info-row {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-size: 30px;
}

.film-info-row p {
  margin: 0;
  color: #fff;
}

.dot {
  color: #fff;
  font-size: 16px;
}

.film-actions {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 25px 10px 100px 0px;
  z-index: 2;
}

.watch-btn {
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.watch-btn {
  font-size: 12px;
  background: red;
}
